@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <a class="releaseBtg">发布小程序</a>
    <img src="~/Content/img/timg.jpg" />
</div>

<div class="box-app">
    <div class="box-container">
        <div class="box-title">
            <h2>
                <label></label>
                每日精选
            </h2>
        </div>

        <div class="box-content box-container clear wrapper">
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>
            <a class="list" href="/app/758">
                <div class="imgLeft">
                    <span>
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/9cn_201701207c5a756b78562690bd6b158d8b4709f3.jpeg" style="width: 100%;">
                    </span>
                </div><div class="dataRight">
                    <div class="title clear">
                        <div class="ellipsis">贝贝驾考</div>
                        <span class="app-try">体验</span>
                    </div>
                    <p class="author" style="height: 20px;">作者：贝贝驾考</p>
                    <p class="introduce">贝贝驾考是一款驾驶员模拟考试软件，采用最新版全国标准题库，以图片展示+文字讲解+视频演示的方式，直观详细地讲解驾考知识。</p>
                </div>
                <div class="list-bottom clear">
                    <label>工具</label>
                    <label>查询</label><p class="view-count"><label>浏览</label>159</p>
                </div>
                <div class="qrcode" style="display: none;">
                    <img src="/static/common/images/default_qrcode.png"><p>微信体验扫描</p>
                </div>
            </a>

        </div>
        
    </div>
</div>