<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <!--SQL数据库-->
  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">

    <bufferSize value="1"/>

    <!-- SQL数据源 ，本地安装SQL客户端-->
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

    <!-- SQL连接字符串-->
    <connectionString value="Server=123.57.46.163,65530;database=Wodai_New;uid=IdSite;pwd=meiyxuz2x0op1l;" />

    <commandText value="INSERT INTO AdminLog ([RecordDate],[Level],[Message],[Exception]) VALUES (@log_date, @log_level, @message, @exception)"/>

    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>

    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>

    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>

    <!--自定义成员 -->
    <!--<parameter>
      <parameterName value="@UserID" />
      <dbType value="Int32" />

      <layout type="JJ.Data.LogCommon.CustomLayout">
        <conversionPattern value="%UserID" />
      </layout>

    </parameter>-->

  </appender>

  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\LogInfo\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
    <param name="RollingStyle" value="Date" />
    <!-- 信息日志布局-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
    </layout>
  </appender>
  <root>
    <!-- Set this to "ERROR" before release -->
    <!--Highest: OFF->FATAL->ERROR->WARN->INFO->DEBUG->ALL :Lowest -->
    <level value="ERROR" />
    <!--<appender-ref ref="ADONetAppender" />-->
    <!-- <appender-ref ref="SmtpAppender" /> -->
    <!--<appender-ref ref="FileAppender" /> -->
  </root>
  <logger name="log4netlogger">
    <level value="ERROR" />
    <appender-ref ref="ADONetAppender" />
    <!--<appender-ref ref="InfoAppender" />-->
  </logger>
  <logger name="logInfo">
    <level value="INFO" />
    <appender-ref ref="ADONetAppender" />
    <!--<appender-ref ref="InfoAppender" />-->
  </logger>

  <logger name="logAction">
    <level value="INFO" />
    <appender-ref ref="ADONetAppender" />
    <!--<appender-ref ref="InfoAppender" />-->
  </logger>
</log4net>